h1{
    margin: 0;
    text-align: center;
}

body{
    background-color: #f2f2f2;
    font-family: Roboto, sans-serif;
    color: #666666;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

input[type="text"] {
    border: 0 none;
    font-family: Roboto, sans-serif;
    color: #cccccc;
}