@import "mixin.styl"
@import "vars.styl"

.main-controls_all {
  border-bottom: $item_border;
  display: flex;
  align-items: center;
  height: 65px;
}

.select-all-button {
  background: url("../image/select-all.svg") no-repeat center center;
  elem_size(65px,60px);
  border:none;
  text-indent: -9999px;
  white-space: nowrap;
}

.main-controls_create-new {
  width: 100%;
}

.main-controls_create-new-input {
  box-sizing: border-box;
  elem_size(60px, 100%);
  font-size: 25px;

  &::placeholder {
    color: $colors.greyC;
    font-style: italic;
  }
}