h1{
    margin: 0;
    text-align: center;
}

section{
    border: 1px #e6e6e6 solid;
    display: flex;
    align-items: center;
    width: 550px;
}

body{
    background-color: #f2f2f2;
    font-family: Roboto, sans-serif;
    color: #666666;
}

ul{
    margin: 0;
    padding: auto;
}

li{
    list-style-type: none;
}

input[type="text"] {
    border: 0 none;
    font-family: Roboto, sans-serif;
    color: #cccccc;
}