@import "mixin.styl"
@import "vars.styl"

h1 {
  margin: 0;
  text-align: center;
}

body {
  background-color: $colors.main_back;
  font-family: Roboto, sans-serif;
  color: $colors.grey6;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

input[type="text"] {
  border: 0 none;
  font-family: Roboto, sans-serif;
  color: $colors.greyC;
}

.todo-app {
  border: $item_border;
  margin: auto;
  width: 550px;
  background: white;
}

.title {
  font-weight: 100;
  font-size: 100px;
  line-height: 0.9;
  color: $colors.greyC;
}