h1 {
  margin: 0;
  text-align: center;
}
body {
  background-color: #f2f2f2;
  font-family: Roboto, sans-serif;
  color: #666;
}
li {
  list-style-type: none;
}
ul {
  margin: 0;
  padding: 0;
}
input[type="text"] {
  border: 0 none;
  font-family: Roboto, sans-serif;
  color: #ccc;
}
.todo-app {
  border: 1px #e6e6e6 solid;
  margin: auto;
  width: 550px;
  background: #fff;
}
.title {
  font-weight: 100;
  font-size: 100px;
  line-height: 0.9;
  color: #ccc;
}
.main-controls_all {
  border-bottom: 1px #e6e6e6 solid;
  display: flex;
  align-items: center;
  height: 65px;
}
.select-all-button {
  background: url("../image/select-all.svg") no-repeat center center;
  height: 65px;
  width: 60px;
  border: none;
  text-indent: -9999px;
  white-space: nowrap;
}
.main-controls_create-new {
  width: 100%;
}
.main-controls_create-new-input {
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  font-size: 25px;
}
.main-controls_create-new-input::placeholder {
  color: #ccc;
  font-style: italic;
}
.task-item_view {
  border-bottom: 1px #e6e6e6 solid;
  display: flex;
  align-items: center;
}
.task-item_view:hover {
  background-color: #fafafa;
}
.task-item_view:hover,
.task-item_view .task-item_status:not(:checked),
.task-item_view + .task-item_status-label {
  border-color: #ccc;
}
.task-item_view:hover .task-item_delete {
  opacity: 1;
}
.task-item_status-label {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  margin: 10px 10px 10px 10px;
  border: 1px #e6e6e6 solid;
  border-radius: 50%;
  background-color: #fff;
  flex-shrink: 0;
}
.task-item_status {
  position: absolute;
  height: 60px;
  width: 60px;
  opacity: 0;
  margin: 0 0 10px 0;
}
.task-item_status:checked + .task-item_status-label {
  background: url("../image/completed.svg") no-repeat center center;
  border-color: #5dc2af;
}
.task-item_status:checked ~ .task-item__text {
  color: #ccc;
  text-decoration: line-through;
}
.task-item_status:focus + .task-item_status-label {
  border-color: #ccc;
}
.task-item_text {
  word-break: break-word;
  text-overflow: clip;
  font-weight: 100;
  font-size: 25px;
  padding: 5px 0 5px 0;
  width: 520px;
}
.task-item_delete {
  background: url("../image/close.svg") no-repeat center center;
  text-indent: -9999px;
  white-space: nowrap;
  border: none;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  opacity: 0;
}
.task-item_delete:focus {
  opacity: 1;
}
.todo-app__actions-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}
.task-clear-completed {
  border: none;
  background-color: #fff;
  font-weight: 300;
  font-size: 14px;
  height: 45px;
  color: #ccc;
  font-family: Roboto;
  margin-right: 5px;
}
.actions-bar__item {
  font-size: 14px;
  color: #ccc;
}
.task-counter {
  margin-left: 15px;
}
.task-filter_input {
  left: -9999px;
  opacity: 0;
}
.task-filter_input:checked + .task-filter_text {
  border-color: #ebdfdf;
}
.task-filter_input:focus + .task-filter_text {
  border-color: #ccc;
}
.task-filter_text {
  font-size: 14px;
  padding: 2px 7px;
  border: 1px transparent solid;
  border-radius: 5px;
}
